@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.important {
  color: #4d6cfa;
  font-weight: 500;
}

.orange {
  color: #dd840e;
}

body {
  background-color: #121212 !important;
  font-family: "Source Code Pro", sans-serif;
  color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.nickname {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.nickname__content {
  cursor: pointer;
  padding: 5px 0 5px 10px;
  text-align: center;
  width: 440px;
  height: 70px;
  box-sizing: border-box;
  position: relative;
  font-size: 46px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.nickname__content a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s ease-in;
}
.nickname__content:hover a {
  color: #4d6cfa;
}
.nickname__content:hover svg rect {
  stroke-dasharray: 440px 0 70px 0 440px 0 70px;
  stroke: #595457;
}
.nickname__content svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.nickname__content svg rect {
  width: 100%;
  height: 100%;
  stroke: #fff;
  fill: transparent;
  stroke-width: 5px;
  transition: 0.3s ease-in;
  stroke-dasharray: 40px 360px 60px 30px 60px 360px 60px 30px;
}
.nickname__content::-moz-selection {
  background-color: #fff;
  color: #121212;
}
.nickname__content::selection {
  background-color: #fff;
  color: #121212;
}

[data-tooltip] {
  position: relative;
}
[data-tooltip]::after {
  content: attr(data-tooltip); /* Выводим текст */
  opacity: 0;
  display: block;
  box-sizing: border-box;
  padding: 5px;
  position: absolute;
  top: -25px;
  left: -30px;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  color: #fff;
  background: #06382d;
  transition: 0.5s ease-in;
  pointer-events: none;
}
[data-tooltip]:hover::after {
  opacity: 1;
}

.about {
  color: #fff;
  font-size: 24px;
}
.about .timeline__container {
  text-align: center;
}
.about .timeline__container .timeline {
  counter-reset: year;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(52, 1fr);
  grid-gap: 2px;
  max-width: 780px;
  padding-right: 2em;
}
.about .timeline__container .timeline__week {
  position: relative;
  display: block;
}
.about .timeline__container .timeline__week::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 100%;
  background: rgba(247, 238, 238, 0.397);
}
.about .timeline__container .timeline__week::after {
  position: absolute;
  left: calc(100% + 4px);
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  line-height: 1;
}
.about .timeline__container .timeline__week:nth-child(52)::after {
  content: "Год";
}
.about .timeline__container .timeline__week:nth-child(52n) {
  counter-increment: year;
}
.about .timeline__container .timeline__week:nth-child(260n)::after {
  content: counter(year);
}
.about .timeline__container .timeline__week_passed::before {
  background: #dd840e;
}
.about .timeline__container .timeline__week_worked::before {
  background: #4d6cfa;
}

.info {
  width: 70%;
}/*# sourceMappingURL=style.css.map */